{% extends 'base.html' %}

{% block content %}
<greeting>
    <p>Welcome to Health & You! Please select a Language.</p>
    <p>¡Bienvenido a Salud y Usted! Por favor seleccione un idioma.</p>
</greeting>
<form action="{{ url_for('questionnaire') }}" method="post">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="language">Language</label>
        </div>
        <select class="custom-select" id="language" name="lang">
            <option selected>Choose...</option>
            <option value="en">English</option>
            <option value="es">Español</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit | Enviar</button>
</form>
{% endblock %}